<% html_title l(:title_budget_tab) %>
<%= stylesheet_link_tag 'budget', :plugin => 'redmine_budget' %>
<h2><%= l(:title_budget_tab) %></h2>

<!--option -->
<%= form_tag url_for(action: :index), method: :get, id: "query_form" do %>
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <!-- selectable assignee -->
      <div class="evm-div-col">
        <fieldset><legend><%= l(:label_select_assignee) %></legend>
          <%= select_tag :selected_assignee_id,
              options_for_select(@selectable_assignees,
                                @users),
                                { multiple: true, size: 5 }%>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <!-- Apply button -->
  <%= label_tag('month', l(:label_month)) %>
  <%= select_month(@month, :prefix => "month", :discard_type => true) %>
  <%= label_tag('year', l(:label_year)) %>
  <%= select_year(@year, :prefix => "year", :discard_type => true) %>
  <p class="buttons">
    <%= link_to "#", {onclick: "$(this).closest('form').submit()", class: "icon icon-checked" } do l(:button_apply) end %>
    <%= link_to l(:button_clear), { basis_date: Date.today }, :class => "icon icon-reload"  %>
  </p>
<% end %>

<!-- Calender -->
<%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
  <%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>
  <table class="budget-cal">
    <!-- Calender header -->
    <tr class="budget-cal-header">
      <td colspan="2"></td>
      <% @calendar.format_month.each do |day| %>
        <td class="<%= @calendar.day_css_classes(day) %> budget-cal-cell">
          <p class="day-num"><%= day.day %>
            <span class="abbr-day">(<%= @calendar.day_of_week[day.cwday] %>)</span>
          </p>
        </td>
      <% end %>
    </tr>
    <!-- Calender contents -->
    <% if @users.present? %>
      <% @users.each do |user| %>
        <tr class="budget-cal-row budget-estimated">
          <td class="budget-cal-user" rowspan="2">
            <%= @selectable_assignees.invert[user.to_i] %>
          </td>
          <!-- estimated hours -->
          <td class="budget-cal-cell budget-estimated row-header">予</td>
          <% @calendar.format_month.each do |day| %>
            <td class="<%= @calendar.day_css_classes(day) %> budget-cal-cell budget-estimated">
              <p class="total-time">
                <%= "#{@calendar.total_estimated_hours_by_day(user, day).round(1)}" %>
              </p>
            </td>
          <% end %>
          <td class="budget-cal-cell budget-estimated budget-total" >
            <%= "#{@calendar.total_estimated_hours_by_day(user, nil).round(1)}" %>
          </td>
        </tr>
        <tr class="budget-cal-row budget-entry">
          <!-- time entries -->
          <td class="budget-cal-cell budget-entry row-header">実</td>
          <% @calendar.format_month.each do |day| %>
            <td class="<%= @calendar.day_css_classes(day) %> budget-cal-cell budget-entry">
              <p class="total-time">
                <%= "#{@calendar.total_time_entries(user, day)}" %>
              </p>
            </td>
          <% end %>
          <td class="budget-cal-cell budget-entry budget-total" >
            <%= "#{@calendar.total_time_entries(user, nil).round(1)}" %>
          </td>
        </tr>
      <% end %>
      <!-- summery by day -->
      <tr class="budget-cal-row budget-estimated">
        <td class="budget-cal-user" rowspan="2">
          合計
        </td>
      <!-- estimated hours -->
        <td class="budget-cal-cell budget-estimated row-header">予</td>
        <% @calendar.format_month.each do |day| %>
          <td class="<%= @calendar.day_css_classes(day) %> budget-cal-cell budget-estimated">
            <p class="total-time">
              <%= "#{@calendar.total_estimated_hours_by_day(nil, day).round(1)}" %>
            </p>
          </td>
        <% end %>
        <td class="budget-cal-cell budget-estimated budget-total" >
          <%= "#{@calendar.total_estimated_hours_by_day().round(1)}" %>
        </td>
      </tr>
      <!-- entry hours -->
      <tr class="budget-cal-row budget-entry">
        <td class="budget-cal-cell budget-entry row-header">実</td>
        <% @calendar.format_month.each do |day| %>
          <td class="<%= @calendar.day_css_classes(day) %> budget-cal-cell budget-entry">
            <p class="total-time">
              <%= "#{@calendar.total_time_entries(nil, day).round(1)}" %>
            </p>
          </td>
        <% end %>
        <td class="budget-cal-cell budget-entry budget-total" >
          <%= "#{@calendar.total_time_entries().round(1)}" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= context_menu %>
