<% html_title "Budgets" %>
<h2>Budgets</h2>

<!--option -->
<%= form_tag url_for(action: :index), method: :get, id: "query_form" do %>
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <!-- basis date -->
      <div class="evm-div-col">
        <fieldset><legend><%= l(:label_basis_date) %></legend>
          <%= date_field_tag("basis_date", @cfg_param[:basis_date], size: 8) %><%= calendar_for("basis_date") %>
        </fieldset>
      </div>
      <!-- selectable assignee -->
      <div class="evm-div-col">
        <fieldset><legend><%= l(:label_select_assignee) %></legend>
          <%= select_tag :selected_assignee_id,
              options_for_select(@selectable_assignees,
                                @cfg_param[:selected_assignee_id]),
                                { multiple: true, size: 5 }%>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <!-- Apply button -->
  <p class="buttons">
    <%= link_to "#", {onclick: "$(this).closest('form').submit()", class: "icon icon-checked" } do l(:button_apply) end %>
    <%= link_to l(:button_clear), { basis_date: Date.today }, :class => "icon icon-reload"  %>
  </p>
<% end %>

<%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
  <%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>
  <ul class="cal">
  <% if @cfg_param[:selected_assignee_id].present? %>
    <% @cfg_param[:selected_assignee_id].each do |user| %>
      <li class="budgetuser">
        <%= @selectable_assignees.invert[user.to_i] %>
      </li>
      <% @calendar.format_month.each do |day| %>
        <li class="<%= @calendar.day_css_classes(day) %> budgetbody">
          <p class="day-num"><%= day.day %>
            <span class="abbr-day">(<%= abbr_day_name(day.cwday) %>)</span>
          </p>
          <p class="total-time">
            <%= "#{@calendar.total_time_entries(user, day)}" %>
          </p>
        </li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
<% end %>
<%= context_menu %>
